body{
  margin: 0px;
  padding: 0px;

}
.container{
  width: 96%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  width: 100%;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 20px;
  /*background-color: rgba(0, 0, 0, 0);*/
  position: absolute;
  z-index: 10;
  
}
.menu-bar{
  width: 100%;
  height: 60px;
  padding-block: 18px;
}

.logo{
  width: 240px;
  float: left;
}
.logo1{
  height: 35px;
  width: 125px;
}
.menu-part1{
  display: flex;
  float: left;
  padding-top: 8px;
  font-size: 30px;
} 

.menu-part2{
  float: right;
  font-size: 30px;
}

#research{
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  border: none;
  color: white;
  background-color: back;
  font-weight: 400;
}
#api{
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  border: none;
  color: white;
  background-color: transparent;
  width: 65px;
  padding-left: 15px;
  font-weight: 400;
}
#chatgpt{
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  border: none;
  color: white;
  background-color: transparent;
  width: 110px;
  padding-left: 18px;
  font-weight: 400;
}
#company{
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  border: none;
  color: white;
  background-color: transparent;
  padding-left: 18px;
  width: 115px;
  font-weight: 400;
}
#research{
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  border: none;
  color: white;
  background-color: transparent;
  font-weight: 400;
}
.safety{
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  border: none;
  color: white;
  background-color: transparent;
  text-decoration: none;
  padding-left: 17px
}
#search1{
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  border: none;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding-right: 10px
}
#login1{
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  border: none;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding-right: 12px
}
.trychat{
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  border: 1px solid white;
  
  color: white;
  text-decoration: none;
  border-radius: 2px;
  height: 35px;
  width: 140px;
  background-color: transparent;
  font-weight: 400;
}
.main-banner{
  width: 100%;
 background-color: black;
 padding-bottom: 70px 


}
#video1{
  position: relative;
  z-index: 0;
}
.banner-box1{
  float: left;
}
.banner-text-left{
  width: 50%;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  float: left;
  
}
.banner-text{
  color: white;
  width: 50%;
  line-height: 100%;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 70px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  bottom: 0%;
  float: left;
  margin-left: 270px;
}

.trychat2{
background-color: transparent;
color: white;
font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
border: 1px solid white;
border-radius: 2px;
height: 35px;
width: 175px;
font-size: 18px;

}
.banner-box2{
  float: left;
}
.content1{
  width: 100%;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  background-color: black;
  color: white;
  height: 200px 
  
}

.c11{
  width: 30%;
  float: left;
  background-color: black;
  height: 200px;
  padding-left: 21px;
  

}
.c12{
  width: 32.1%;
  float: left;
  background-color: black;
  height: 200px;
  padding-left: 21px;
}
.c13{
  width: 33.33%;
  float: left;
  background-color: black;
  height: 200px;
  padding-left: 21px;
}
#t11{
font-size: 28px;
}
#t12{
  font-size: 28px;
}
#t13{
  font-size: 28px;
}
#c11{
  color: white;
  font-size: 18px;
}
#c12{
  color: white;
  font-size: 18px;
}
#c13{
  color: white;
  font-size: 18px;
}
.l11{
  padding-top: 10px;
}
.l12{
  padding-top: 10px;
}
.l13{
  padding-top: 10px;
}
.updates{
  background-color: black;
  color: white;
  width: 100%;
  font-weight: 5px;
  margin-top: 1px;
}
.latest{
  width: 87%;
  height: 100px;
  align-items: left;
  font-size: 50px;
  float: left;
  background-color: black;
  padding-left: 23px;
}
.viewall{
  width: 10%;
  height: 100px;
  font-size: 18px;
  float: left;
  color: white;
  background-color: black;
  padding-top: 5px;
  
}
#c21{
  color: white;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-weight: 5px;
}

.update-slide{
  width: 100%;
  background-color: black;
  height: 600px 

}
.s11{
    width: 24%;
    float: left;
    padding-left: 25px;
}
.s12{
  width: 24%;
  float: left;
  padding-left: 10px;

}
.s13{
  width: 24%;
  float: left;
  padding-left: 10px;

}
.s14{
  width: 24%;
  float: left;

}
#d21{
color: white;

}
#d22{
  color: white;
}

#d23{
  color: white;
}

#d24{
  color: white;
  
}
#c21x{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;

}
#c22{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
}
#c23{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
}
#c24{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
}

#d21{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}
#d22{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}
#d23{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}
#d24{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}

.safety1{
  background-color: black;
  color: white;
  width: 100%;
  font-weight: 5px;
  margin-top: 1px;
  padding-top: 14px;
  
}
.respo{
  width: 52%;
  height: 100px;
  align-items: left;
  font-size: 50px;
  float: left;
  background-color: black;
  padding-left: 23px;
  
}
.respo-content{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 25px;

}
#c31{
  color: white;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 15px;
  

}
.image1{
  padding-top: 100px;
  background-color: black;
  padding-bottom: 100px;
}

.research{
  background-color: black;
  padding-top: 15px;
  color: white;
  width: 100%;
  font-weight: 5px;
  margin-top: 1px;
  
}
.search1{
  width: 52%;
  height: 150px;
  align-items: left;
  font-size: 50px;
  float: left;
  background-color: black;
  padding-left: 23px;
  
}
.respo-content2{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 25px;
  height: 150px;
  

}

#c41{
  color: white;
  float: bottom;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 15px;
}

.update-slide2{
  width: 100%;
  float: left;
  background-color: black;
  height: 500px;

}
.s51{
    width: 24%;
    float: left;
    padding-left: 25px;
}
.s52{
  width: 24%;
  float: left;
  padding-left: 5px;

}
.s53{
  width: 24%;
  float: left;
  padding-left: 5px;

}
.s54{
  width: 24%;
  float: left;
  padding-left: 5px;

}
#d51{
color: white;

}
#d52{
  color: white;
}

#d53{
  color: white;
}

#d54{
  color: white;
  
}
#c51{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;

}
#c52{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
}
#c53{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
}
#c54{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
}

#d51{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}
#d52{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}
#d53{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}
#d54{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}

.products{
  background-color: black;
  color: white;
  width: 100%;
  font-weight: 5px;
  
}

.search6{
  width: 50%;
  height: 150px;
  align-items: left;
  font-size: 50px;
  float: left;
  background-color: black;
  padding-left: 23px;
}

.respo-content6{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 25px;
  height: 150px;
  width: 48%;
  float: right;
  background-color: black;
  padding-right: 5.5px;
  

}
#c61{
  color: white;
  float: bottom;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 15px;
}

/* slider boady start */

.update-slide3{
  width: 100%;
  float: left;
  background-color: black;
  height: 500px;

}
.s71{
    width: 24%;
    float: left;
    padding-left: 25px;
}
.s72{
  width: 24%;
  float: left;
  padding-left: 5px;

}
.s73{
  width: 24%;
  float: left;
  padding-left: 5px;

}
.s74{
  width: 24%;
  float: left;
  padding-left: 5px;

}
#d71{
color: white;

}
#d72{
  color: white;
}

#d73{
  color: white;
}

#d74{
  color: white;
  
}
#c71{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;

}
#c72{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
}
#c73{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
}
#c74{
  color: white;
  text-decoration: none;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
}

#d71{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}
#d72{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}
#d73{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}
#d74{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 19px;
}

/* slider boady end */

/* slider header3 start */
.careers{
  background-color: black;
  padding-top: 100px;
  color: white;
  width: 100%;
  font-weight: 5px;
  
}

.search8{
  width: 50%;
  height: 180px;
  align-items: left;
  font-size: 50px;
  float: left;
  background-color: black;
  padding-left: 23px;
}

.respo-content8{
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 25px;
  height: 150px;
  width: 48%;
  float: right;
  background-color: black;
  padding-right: 5.5px;
}

#c81{
  color: white;
  float: bottom;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 15px;
}
/* slider header3 end */

.image3{
  padding-top: 100px;
  background-color: black;
  height: 2310px;
}

.testi{
  background-color: black;
  padding-top: 50px;
  width: 100%;
  font-weight: 1px;
  margin-top: 0.3px;
  height: 930px;

}
.search9{
  font-size: 50px;
  font-weight: 1px;
  width: 50%;
  float: left;
  background-color: black;
  height: 800px;
  color: white;
  padding-left: 30px;
  float: bottom;

}
.testi-image{
  
  float: left;
  background-color: black;
  width: 47.85%;
  height: 800px;

}
#t92{
  color: white;
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;

}
#t93{
  color: white;
  font-size: 18px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
}
.testi-name{
  height: 26px;
}

.join-us{
  width: 99%;
  background-color: black;
  padding-left: 13px;
}
.main-c2{
  width: 100%;
  font-family: var(--serif);
  font-size: 74px;
  color: white;
  background-color: black;
  align-items: center;
  font-weight: 400;
  padding-bottom: 80px;
  margin-top: 1px;
  
}

.join-button{
  width: 100%;
  padding-left: 16px;
  height: 200px;

}
.join-button1{
  width: 96%;
  background-color: black;
  font-size: 28px;
  color: white;
  height: 75px;
  box-sizing:content-box;
  padding-right: 0px;
  border-radius: 6px;
  border-color: white;
}
.join-button1 :hover{
  width: 96%;
  background-color: white;
  font-size: 28px;
  color: black;
  height: 75px;
  box-sizing:content-box;
  padding-left: 5px;
  border-radius: 6px;
  border-color: white;
}

.join-button1{
  width: 96%;
  background-color: black;
  font-size: 28px;
  color: white;
  height: 75px;
  box-sizing:content-box;
  padding-left: 5px;
  border-radius: 6px;
  border-color: white;
}

.foot-sec1{
  width: 100%;
  background-color: black;
  height: 300px;
  
}
.foot1-part1{
  background-color: black;
  width: 35%;
  float: left;
  height: 300px;
  padding-left: 21px;

}
.foot1-part2{
  
  background-color: black;
  width: 16%;
  float: left;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
  height: 300px;
}
.foot1-part3{
  
  background-color: black;
  width: 16%;
  float: left;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
  height: 300px;
}
.foot1-part4{
  
  background-color: black;
  width: 16%;
  float: left;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
  height: 300px;
}
.foot1-part5{
  
  background-color: black;
  width: 15%;
  float: left;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
  height: 300px;
  padding-left: 7px;
  text-decoration: none;

}

#f81{
  color: white;
  text-decoration: none;
}
#f82{
  color: white;
  text-decoration: none;
}
#f83{
  color: white;
  text-decoration: none;
}
#f84{
  color: white;
  text-decoration: none;
}
#f85{
  color: white;
  text-decoration: none;
}


/* footer part2 */
.foot-sec2{
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 1px;
  padding-top: 1px;
  font-family: Soehne,system-ui,-apple-system,Helvetica Neue,Arial,sans-serif;
  font-size: 18px;
  height: 220px;
  padding-top: 10px;
}
.foot2-part1{
  width: 35%;
  height: 95px;
  float: left;
  display: grid;
  padding-left: 14px;

  

}
.foot2-part2{
  width: 64%;
  height: 65px;
  float: left;

}
#g81{
  text-decoration: none;
    color: white;
}
#g82{
  text-decoration: none;
    color: white;
}
#g83{
  text-decoration: none;
    color: white;
}
#g84{
  text-decoration: none;
    color: white;
}



#g85{
  padding-right: 25px;
  text-decoration: none;
    color: white;
}
#g86{
  padding-right: 25px;
  text-decoration: none;
    color: white;
}
#g87{
  padding-right: 25px;
  text-decoration: none;
    color: white;
}
#g88{
  padding-right: 25px;
  text-decoration: none;
    color: white;
}
#g89{
  text-decoration: none;
    color: white;
}
#g90{
  text-decoration: none;
    color: white;
}

.foot2-part2-div1{
  height: 76px;
}
.foot-sec3{
  background-color: white;
  width: 100%;
}
.bg-primary {
  background-color: black
}